.product-container {
    display: flex;
    height: 250px;
    width: 600px;
    background: #D34735;
    align-items: center;
    border-radius: 25px;
    margin-top: 40px;
}

.image-container {
    margin-left: 30px;
}

.word-container {
    margin-left: 5%;
    margin-bottom: 3%;

}

.button {
    background: #3AD886;
    padding: 10px;
    border-radius: 10px;
}

